<%- include('partials/_head.ejs', { theme: 'theme-main', page: 'type-frontpage' }); %>

<%- include('partials/_header_main.ejs'); %>
<div class="js-headerWrap">
  <%- include('partials/_nav_main.ejs'); %>
</div>

<div class="l-wrap">
  <%- include('partials/_list-news.ejs'); %>
  <%- include('partials/_list-related.ejs'); %>
  <%- include('partials/_followus.ejs'); %>
</div>

<%- include('partials/_footer.ejs'); %>
