<%- include('partials/_head.ejs'); %>

<div class="l-wrap">
  <%- include('partials/_list-news.ejs'); %>
  <%- include('partials/_list-related.ejs'); %>
  <%- include('partials/_followus.ejs'); %>
</div>

<%- include('partials/_footer.ejs'); %>
