<%- include('partials/_head.ejs', { theme: 'theme-shibuya', page: 'frontpage' }); %>

<div class="js-headerWrap">
  <%- include('partials/_header_shibuya.ejs'); %>
</div>

<div class="l-wrap">
  <%- include('partials/_slider.ejs'); %>
  <%- include('partials/_list-news.ejs'); %>
  <%- include('partials/_list-calendar.ejs'); %>
  <%- include('partials/_followus.ejs'); %>
</div>

<%- include('partials/_footer.ejs'); %>
