<%- include('partials/_head.ejs', { theme: 'theme-shibuya', page: 'type-2nd category-event' }); %>

<%- include('partials/_header_shibuya.ejs'); %>
<div class="js-headerWrap">
  <%- include('partials/_nav_shibuya.ejs'); %>
  <%- include('partials/_nav_sub_default.ejs',{title: 'イベント', subtitle: 'EVENTS'}); %>
</div>

<div class="l-wrap">

  <section class="l-archive">
    <%- include('partials/_archive.ejs',{len: 12}); %>
  </section>

  <%- include('partials/_followus.ejs'); %>

</div>

<%- include('partials/_footer.ejs'); %>
