<%- include('partials/_head.ejs', { theme: 'theme-shibuya', page: 'page-default' }); %>

<div class="js-headerWrap">
  <%- include('partials/_header_shibuya.ejs'); %>
  <%- include('partials/_header_sub_default.ejs',{title: '施設レンタル', subtitle: 'RENTAL'}); %>
</div>

<div class="l-wrap">
  <%- include('partials/_wysiwyg.ejs'); %>
  <%- include('partials/_followus.ejs'); %>
</div>

<%- include('partials/_footer.ejs'); %>
