<%- include('partials/_head.ejs', { theme: 'theme-shibuya', page: 'archive-default' }); %>

<%- include('partials/_header_shibuya.ejs'); %>
<div class="js-headerWrap">
  <%- include('partials/_nav_shibuya.ejs'); %>
  <%- include('partials/_nav_sub_default.ejs',{title: '今月のスケジュール', subtitle: 'MONTHLY SCHEDULE'}); %>
</div>

<div class="l-wrap">
  <%- include('partials/_archive-calendar.ejs'); %>
  <%- include('partials/_followus.ejs'); %>
</div>

<%- include('partials/_footer.ejs'); %>
